<section style="padding: 15px 0; display: flex; justify-content: space-between; font-family: Calibri, sans-serif;">
  <div style="flex: grow; width: 45%; padding: 0 15px; display: inline-block; position: relative">
    <section style='display: flex; justify-content: space-between; align-items: center'>
      <span style='font-size: 20px'>GUIDE PAIEMENT PRIME ASSURANCE</span>
      <span style='font-size: 18px; font-weight: bold; margin: 10px 0 -5px'><%= image_tag wicked_pdf_asset_base64("ipay.png"), width: 42 %></span>
    </section>

    <section style='text-align: center'>
      <span style='font-size: 18px; font-weight: 600; text-transform: uppercase;'><%= @card.fullname %></span>
    </section>
    <br>
    <section style='text-align: center; margin: -22px 0'>
      <%= image_tag wicked_pdf_asset_base64("logo.png"), width: 180 %>
    </section>
    <br>
    <section style='text-align: center; margin: 12px 0'>
      <span style='font-size: 17px;'>CODE DE PAIEMENT en agence Alizza ou BOA</span>
      <br>
      <span style='font-size: 23px; font-weight: bold'>
        <%# <%= @card.code %> 
        <%= extract_numbers_from_url(@card.link) %>
      </span>
    </section>
    
    <section style='text-align: center'>
      <div>Ou</div>
      <div style='font-size: 20px;'>Scannez pour payer avec téléphone</div>
    </section>
    <br>
    <section style='text-align: center'>
      <%= qr_code_as_svg(@card.link) %>
    </section>

    <section style='text-align: center; margin-top: 12px'>
      <div style='font-size: 17px; font-weight: 300; color: #07049b'><%= @card.link %></div>
      <div style='font-size: 15px; font-weight: 800; margin: 10px 0'>PAYEZ PAR :</div>
    </section>

    <section style='text-align: center'>
      <%= image_tag wicked_pdf_asset_base64("part.png"), width: 380 %>
    </section>

    <section style='text-align: center; margin-top: 10px'>
      <div style='font-size: 20px; font-weight: 800'>Service Client</div>
      <div style='font-size: 15px; margin: 10px 0'>(+227) 87 50 50 50 /  (+227) 20 73 41 75</div>
    </section>
    
  </div>
  
  <div style="width: 44%; padding: 0 15px; display: inline-block;">
    <section style='display: flex; justify-content: space-between; align-items: center'>
        <span style='font-size: 24px; font-weight: bold; margin-top: 10px'>GUIDE PAIEMENT PRIME ASSURANCE</span>
        <span><%= image_tag wicked_pdf_asset_base64("ipay.png"), width: 42 %></span>
    </section>
    
    <section style='margin: 17px 0'>
      <h3>Mode 1:</h3>
      <p style='text-align: justify; font-size: 17px'>Utilisez le code de paiement et dirigez-vous vers l'une des agences Alizza ou BOA Niger pour procéder au règlement de votre prime d'assurance</p>
    </section>

    <section style='margin: 17px 0'>
      <h3>Mode 2:</h3>
      <p style='text-align: justify; font-size: 17px'>Scannez le code QR avec l’appareil photo de votre téléphone et effectuez le paiement de votre prime d'assurance en utilisant VISA & MasterCard, MyBOA et le Mobile Money (Airtel Money et Moov Money).
      </p>
    </section>
    
    <section style='margin: 17px 0'>
      <h3>Mode 3:</h3>
      <p style='text-align: justify; font-size: 17px'>Effectuez le règlement de votre prime d'assurance en utilisant votre carte bancaire, que ce soit une carte VISA ou MasterCard.
    </p>
    </section>
    
    <section style='text-align: center; margin-top: 30px'>
      <h3 style='margin-bottom: -5px'>Service Client</h3>
      <p>(+227) 87 50 50 50 /  (+227) 20 73 41 75</p>
    </section>
  </div>
</section>
